.title {
    font-size: 30;
    margin: 16;
}

.nav {
    orientation: horizontal;
    horizontal-align: stretch;
    padding: 4;
    background-color: lightblue;
}

.link {
    horizontal-align: stretch;
    margin: 10 30 10 30;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

/*button {
    horizontal-align: center;
}*/

.odd {
    background-color: hotpink
}

.even {
    background-color: lightseagreen;
}

.btn {
    horizontal-align: stretch;
    text-align: center;
    color:#3F60F9;
}

.btn-primary {
  background-color: #3F60F9;
  color: #fff;
  padding: 10px 20px;
}

.input {
  margin: 30px;
  color:#444;
}